
textarea{
  resize: none;
  outline-width: 2px; /* Adjust the value as needed */
  outline-style: solid; /* You can also change the style */
}

textarea:focus{
  resize: none;
  outline-width: 2px; /* Adjust the value as needed */
  outline-style: solid; /* You can also change the style */
}

textarea

.inputOutputLabel{
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}